@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300,300italic,400italic);
#major-banner {
    position: relative;
    max-width: 950px;
    margin: auto;
}

#major-banner-image {
    position: relative;
    overflow-x: hidden;
}

@media only screen and (min-width:480px) {
    #major-banner-image {
        overflow: hidden;
        height: 300px;
        /* object-fit: contain; */
    }
}

#major-banner-text {
    background: #000;
    width: 90%;
    padding: 20px 20px 20px 20px;
    font-family: 'Source Sans Pro', sans-serif;
}

@media only screen and (min-width:480px) {
    #major-banner-text {
        opacity: 80%;
        width: 260px;
        right: 0px;
        padding: 20px 20px 400px 20px;
        margin-bottom: -380px;
        position: absolute;
        top: 0px;
    }
}

#major-banner-school {
    padding-top: 0px;
    padding-left: 0px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}

@media only screen and (min-width:480px) {
    #major-banner-school {
        padding-top: 20px;
        font-size: 16px;
    }
}

#major-banner-title h1 {
    font-weight: bold;
    color: #F39C00;
    font-size: 32px;
    margin: 5px;
}

#majordescription h2 {
    max-width: 900px;
    margin: auto;
    background-color: #26304d;
    border-bottom: medium none;
    border-top: 2px solid #E0DCD4;
    color: #fff;
    font-size: 14px;
    padding: 7px 10px;
    margin-top: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-family: 'Source Sans Pro', sans-serif;
}

#majordescription p {
    margin: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    max-width: 900px;
    margin-top: 10px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}
